
						/*font css*/
/*---------------------------------------------------*/

@font-face{
	font-family: rochester;
	src:url(/fonts/Rochester-Regular.ttf);
}

h1{
	font-family: rochester !important;
	font-size: 40px;
	font-weight: bold !important;
}

h2{
	font-family: rochester !important;
	font-size: 30px;
	font-weight: bold !important;
}

h3{
	font-family: rochester !important;
	font-size: 25px;
	font-weight: bold !important;
}
h4{
	font-family: rochester !important;
	font-size: 20px;
	font-weight: bold !important;
}


.ui.menu a.item{
	font-family: rochester !important;
}

html {
	max-width: 1400px;
	margin: auto;
}

body.pushable {
    background: #f2f2f2 !important;
}
p, a{

	font-weight: 400 !important;
	font-size: 16px !important;
	line-height: 24px !important;
	font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif !important;
}
					/*Background css*/
/*---------------------------------------------------*/

#landing{
	background-image: url("/images/amoureux.jpg") !important;
	background-size: cover;
	background-position: left left;
	height: 700px;
}
#warm-up-party{
	background-image: url("/images/geyser.jpg") !important;
	background-size: cover;
	height: 700px;
}
#new-year{
	background-image: url("/images/new-year-reykjavik.jpg") !important;
	background-size: cover;
	height: 700px;
}
#travel-accomodation{
	background-image: url("/images/glacier.jpg") !important;
	background-size: cover;
	height: 700px;
}
#around-reykjavik{
	background-image: url("/images/aurora.jpg") !important;
	background-size: cover;
	height: 800px;
}

					/*main css*/
/*---------------------------------------------------*/

.relaxed-padding{
	padding-top: 80px !important;
	padding-bottom: 80px !important;
}
.relaxed-top-padding{
	padding-top: 80px !important;
}
.relaxed-margin{
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}
.very-relaxed-top-margin{
	margin-top: 200px !important;
}
.white{
	color: white!important;
}
.shadow{
	text-shadow: 0px 0px 10px rgba(0,0,0,1) !important;
}
.light-opacity{
	opacity: 0.8;
}
.no-top-margin{
	margin-top: 0px !important;
}
.border {
    border: 2px solid;
    border-radius: 5px;
}

div.row{
    margin-top: 10px;
    margin-bottom:10px;
    margin-right:10px;
    margin-left:10px;
}

.paragraph-css{
    padding-top:10px;
    padding-bottom:10px;
    padding-right:30px;
    padding-left:30px;
    text-align:justify;
}

			/*hidden css for small screens*/
/*---------------------------------------------------*/

.secondary.menu a.launch-sidebar {
		display: none;
}
.display-small-screen-only{
	display: none !important;
}

			/*mobile phone responsive css*/
/*---------------------------------------------------*/

@media only screen and (max-width: 767px){
	.ui.secondary.menu a.launch-sidebar{
		display: block;
	}
	.ui.vertical.icon.menu{
		width: 120px !important;
	}
	#landing{
	background-image: url("/images/amoureux-small-screen.jpg") !important;
	background-size: cover;
	background-position: left left;
	height: 700px;
	}
	#warm-up-party{
	background-image: url("/images/geyser-small-screen.jpg") !important;
	background-size: cover;
	height: 600px;
	}
	#travel-accomodation{
	background-image: url("/images/glacier.jpg") !important;
	background-size: cover;
	height: 1000px;
}
	#around-reykjavik{
		background-image: url("/images/aurora.jpg") !important;
		background-size: cover;
		height: 1100px;
	}


	h1{
		font-size: 20px !important;
	}
	h2{
		font-size: 18px !important;
	}
	h3{
		font-size: 16px !important;
	}
	p, a{
		font-size: 12px !important;
	}	
	.display-small-screen-only{
		display:block !important;
	}
	.display-big-screen-only{
		display: none !important;
	}

}


				/*tablet responsive css*/
/*---------------------------------------------------*/

@media (max-width:800px) and (min-width:768px){
	.ui.secondary.menu a.launch-sidebar{
		display: block;
	}
	.ui.secondary.menu a.item {
		display: none;
	}
	.ui.secondary.menu div.item {
		display: none;
	}
	div.landing-background {
	background-image: url("/images/card-readers/hilite-boat-small-screen.jpg") !important;
	background-size: cover;
	height: 600px;
	}

	h1{
		font-size: 19px !important;
	}
	h3{
		font-size: 16px !important;
	}
	p {
		font-size: 12px !important;
	}	
	.ui.button{
		font-size: 1em !important;
	}
	i.bordered.icon{
		box-shadow: 0 0 0 0 !important;
	}
	.ui.small.image{
		width: 100px !important;
	}
	.vmap{
	height:200px;
	}
}
