<!DOCTYPE html>
<html lang="en">
<head>
<!-- Metadata -->
    <meta charset="utf-8">
    <meta name="description" content="Wedding gudrun Maria Antoine">
    <meta name="keywords" content="wedding, iceland, winter, 30 decembre 2016, Antoine, Gudrun Maria">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
<!-- Metadata End -->

    <title>Wedding - Gudrun Maria &amp; Antoine</title>

<!-- CSS Properties -->
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/semantic-ui/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.css">
<!-- CSS Properties End-->

<!-- Scripts -->
    <script type="text/javascript" src="{{site.baseurl}}/js/jquery-1.12.3.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/semantic-ui/semantic.min.js"></script>
<!-- Scripts End-->
</head>

<body>
<!-- Sidebar for Smaller screens -->
<div class="ui left demo vertical inverted sidebar labeled icon menu">
    <a class="item" href="#our-story"><i class="heart icon"></i>Our Story</a>
    <a class="item" href="#warm-up-party"><i class="bar icon"></i>Warm-up Party</a>
    <a class="item" href="#wedding"><i class="diamond icon"></i>Wedding</a>
    <a class="item" href="#new-year"><i class="star icon"></i>New Year's Eve</a>
    <a class="item" href="#travel-accomodation"><i class="world icon"></i>Travel &amp; Accomodation</a>
    <a class="item" href="#around-reykjavik"><i class="map icon"></i>In &amp; Around Reykjavik</a>
    <a class="item" href="#contact"><i class="write icon"></i>Contact</a>
</div>
<!-- Sidebar for Smaller Screens End -->

<div class="pusher">

{{ content }}

</div>

</body>

<!-- Scripts -->
<script type="text/javascript" src="{{site.baseurl}}/js/main.js"></script>
<!-- Scripts End-->
</html>
