<!DOCTYPE html>
<html lang="en">
<head>
<!-- Metadata -->
    <meta charset="utf-8">
    <meta name="description" content="Handpoint Payment Services">
    <meta name="keywords" content="nextgenpos, handpoint, hipro, Hifive, hilite, api, pos developer, integration, payments, card present, mobile payments, mobile pos, mobile, p2pe, encryption, point, point to point encryption, credit cards, point of sale, card reader, payment terminals, payment API, payment SDK, API, SDK, gateway, processors">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
<!-- Metadata End -->

    <title> {% if page.title %} {{ page.title }} | {% endif %} wedding Maria &amp; Antoine </title>

<!-- CSS Properties -->
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/semantic-ui/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.css">
<!-- CSS Properties End-->

<!-- Scripts -->
    <script type="text/javascript" src="{{site.baseurl}}/js/jquery-1.12.3.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/semantic-ui/semantic.min.js"></script>
<!-- Scripts End-->
</head>

<body>
<!-- Sidebar for Smaller screens -->
<div class="ui left demo vertical inverted sidebar labeled icon menu">
    <a class="item" href="{{site.baseurl}}/"><i class="home icon"></i>Home</a>
    <div class="ui vertical inverted accordion item">
        <a class="active title item">
            <i class="heart icon"></i>Our Solutions
        </a>
        <div class="inactive content menu">
            <a class="item" href="{{site.baseurl}}/merchants">For Merchants</a>
            <a class="item" href="{{site.baseurl}}/developers">For Developers</a>
            <a class="item" href="{{site.baseurl}}/resellers">For Resellers</a>
            <div class="ui divider"></div>
            <a class="item" href="{{site.baseurl}}/cardreaders">Card Readers</a>
            <a class="item" href="{{site.baseurl}}/sdk">SDK</a>
            <a class="item" href="{{site.baseurl}}/gateway">Gateway</a>
        </div>
    </div>
    <a class="item" target='_blank' href="https://www.handpoint.com/docs/basics/"><i class="code icon"></i>Docs</a>
    <div class="ui vertical inverted accordion item">
        <a class="active title item">
            <i class="lab icon"></i>Support
        </a>
        <div class="inactive content menu">
            <a class="item" href="{{site.baseurl}}/getstarted">Get Started</a>
            <a class="item" target="_blank" href="https://handpoint.atlassian.net/wiki/display/PD">Help Center</a>
        </div>
    </div>
  <!--   <div class="ui vertical inverted accordion item">
        <a class="active title item">
        <i class="building icon"></i>About
        </a>
        <div class="inactive content menu">
            <a class="item" href="company.html">Company</a>
            <a class="item" href="team.html">Team</a>
            <a class="item" href="awards.html">Awards</a>
            <a class="item" href="pressreleases.html">Press Releases</a>
            <a class="item" href="careers.html">Careers</a>
        </div>
    </div> -->
    <a class="item" href="#" onclick="zE.activate({hideOnClose: true});"><i class="comment icon"></i>Contact Us</a>
</div>
<!-- Sidebar for Smaller Screens End -->

<div class="pusher">

{{ content }}

</div>

</body>

<!-- Scripts -->
<script type="text/javascript" src="{{site.baseurl}}/js/main.js"></script>
<!-- Scripts End-->
</html>
